body {
  background-image: url("https://minn0023.bitbucket.io/websitejjbackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

h1 {
  text-align: left;
  font-family: monospace;
  font-size: 50pt;
  color: #1b63d6;
  margin: 0px;
  padding: 5px 50px;
  background-color: transparent;
}

h2 {
  font-family: Oxygen mono;
  font-size: 25px;
  width: auto;
  padding: 50px 100px;
  text-align: center;
}



.menu {
  display: block;
  padding: 10px 30px;
  background-color: #1b63d6;
  border-style: solid;
  border-color: #FFFFFF;
  list-style-type: none;
  float: left;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 20%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.footer {
  display: block;
  font-weight: 800;
  font-family: monospace;
  font-size: 20px;
  list-style-type: none;
  position:fixed;
  left:0px;
  bottom:0px;
  height:35px;
  width:100%;
  background-color:#1b63d6;
  white-space: pre;
  line-height: inherit;
  color: #FFFFFF;
  text-align: center;
}

.content {
  display: block;
  width: auto;
  padding-left: 500px;
  padding-right: 500px;
  text-align: left;
  font-family: Oxygen mono;
}

.game {
  padding: 50px 500px;
}

#lijst {
  display: block;
  padding-top: 100px;
}
